.breaking-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;



  

  .breaking-content-container {

    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    animation: fadein 2s ease-in-out backwards;

    .content-inner-container {
      display: flex;
      flex-flow: column nowrap;
      width: 85%;

    }


    h1 {
      color: #e74900;
      font-size: 3rem;
  
    }

    video {
      padding: 0;
      margin: 0;
    }

    .video-caption {
      color: #fff;
      font-size: 12px;
      padding: 0;
      margin: 0;
    }

    h2 {
      color: #fff;
    }
  }
}