.logo-container {

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  height: 20vh;
  align-items: center;
  h1 {
    font-size: 1.4rem;
    padding-right: 30px;

    &:hover {
      padding-right: 50px;
      transition:ease-in-out 0.3s all;
    }
  }

  a {
    &:hover {
      color: red;
      
    }
  }
}