@keyframes fadeslide {
  from { opacity: 0; transform: translate3d(0, 50px, 0) }
  to { opacity: 1; transform: translate3d(0, 0, 0) }
}

.about-container {
  width: 100vw;
  height: 100vh;
  color: #fff;
  
  .about-article-container {
    animation: fadeslide 2s ease-in-out backwards;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    img {
      max-width: 100%;
      padding: 30px 0;
    }

    .article-container-inner {
      display: flex;
      flex-flow: column nowrap;
      width: 85%;

      .title-style {
        font-size: 3rem;
        color: #e74900;
      }

      h2 {
        font-weight: normal;
      }
      
      p {
        font-size: 18px;
        letter-spacing: 0.5px;
        font-weight: normal;
        margin-bottom: 2vh;
        line-height: 150%;
      }

      .resume-style {
        color: #e74900;
        font-weight: bold;
        letter-spacing: -1px;
        transition-delay: 1s;
        transition: ease-in-out .2s all;
        padding: 10px 10px 20px 0;

        &:hover {
          padding-left: 10px;
          transition: ease-in-out .2s
        }
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .about-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .about-article-container {
      width: 50%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
  }
}