@import '../../variables';

.nav-container {
  color: $main-font-color;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 40px;

  .profile-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .profile-picture {
      width: 150px;
      border-radius: 50%;
      border: 1px solid #fff;
    }

    .profile-details {
      margin-top: 10px;
    }
  }

  .links-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .nav-item {
      margin: 20px;
      padding: 0;
    }
  }
}


.test {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
}