@import '../../variables';


.nav-container {
  color: $main-font-color;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 40px;

  .profile-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .profile-picture {
      width: 150px;
      border-radius: 50%;
      border: 1px solid $secondary-font-color;
    }

    .profile-details {
      margin-top: 10px;
    }
  }

///// New section.

  .links-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    .nav-item {
      margin: 20px;
      padding-bottom: 10px;
      transition: ease-in-out 0.3s all;
      border: none;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 0px;
        height: 1px;
        left: 50%;
        bottom: 0;
        background-color: $secondary-font-color;
        transition: all ease-in-out .2s;
      }

      &:hover {
        &:after {
          width: 100%;
          left: 0;
        }
      }

      &:focus {
        color: $secondary-font-color;
        
        &:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}
