@import '../../variables';


.nav-container {
  display: flex;
  margin-top: 40px;
  align-items: center;
  color: $main-font-color;
  flex-flow: column nowrap;

  .profile-container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    .profile-picture {
      width: 150px;
      border-radius: 50%;
      border: 1px solid $secondary-font-color;
    }

    .profile-details {
      margin-top: 10px;
    }
  }

///// New section.

  .links-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .nav-item {
      margin: 20px;
      font-size: 20px;
      color: $secondary-font-color;
      font-weight: bold;
      border: none;
      position: relative;
      padding-bottom: 10px;
      transition: ease-in-out 0.3s all;

      &:after {
        left: 50%;
        bottom: 0;
        width: 0px;
        content: '';
        height: 1.3px;
        position: absolute;
        background: #fff;
        transition: all ease-in-out .2s;
      }

      &:hover {
        &:after {
          left: 0;
          width: 100%;
        }
      }

      &:focus {
        color: $secondary-font-color;
        
        &:after {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
