.home-container {

    .home-title-container {
        display: grid;
        margin-top: 50px;
        justify-items: center;
    
        h2 {
            border-bottom: 1px solid black;
            letter-spacing: 2px;
        }
    }
    

    p {
        margin: 20px 20px;
        padding: 0 20px;
        text-align: left;
    }
}

.section-container {
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 20px 0;

    p {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 15px;
    }
}


.ga-logo {
    width: 50%;
}

.inflectra-logo {
    width: 50%;
}