@import '../../variables';


.contact-container {
  display: flex;
  margin-top: 20px;
  color: $main-font-color;
  justify-content: center;
  animation: fadeslide 2s ease-in-out backwards;

  .contact-items-container {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 16px 10px 39px -4px rgba(0,0,0,0.74);

    .contact-title {
      padding: 5px;
      text-align: center;
      letter-spacing: -1px;
    }

    .contact-items {
      margin: 0;
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
      color: $secondary-font-color;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

}