a {
  text-decoration: none;
}

section {
  opacity: 0;
  margin: 1.5rem;
  display: flex;
  padding: 1rem;
  visibility: hidden;
  align-items:flex-start;
  flex-flow: column wrap;
  justify-content: flex-start;
  transform: translate(0, 50%);
  will-change: opacity, visibility;
  transition: opacity 2s ease-out, transform 2s ease-out;
  

  h1 {
    font-size: 2.3rem;
    color: #e74900;
  }

  p {
    font-size: 0.81rem;
    color: #fff;
  }

  h1, p {
    margin: 0;
    padding: 0;
  }

  &:hover {
    cursor: pointer;
  }

}

.is-visible {
  opacity: 1;
  display: flex; 
  transform: none;
  visibility: visible;
}



@media screen and (min-width: 768px) {
  .work-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .work-inner-container {
      width: 40%;
      display: flex;
      flex-flow: column nowrap;

      section {

        h1 {
          transition: ease-in-out .2s all;

          &:hover {
            padding-left: 20px;
            transition: ease-in-out .2s all;
          }
        }
      }
      
    }
  }
}


//ADD HOVER TO MEDIA SCREEN QUERY


// @media screen and (min-width: 768px) {
//   section {
//     width: 100%;

//     &:hover {
//       transition: ease-in-out 250ms all;
//       padding-left: 40px;
//     }
//   }


//   .work-container {
//     width: 100%;
//     display: flex;
//     justify-content: center;

//     .work-inner-container {
//       width:50%;
//     }
//   }
// }