a {
  text-decoration: none;
}

section {
  opacity: 0;
  margin: 2rem;
  display: flex;
  padding: 1rem;
  visibility: hidden;
  align-items:flex-start;
  flex-flow: column wrap;
  justify-content: flex-start;
  transform: translate(0, 50%);
  will-change: opacity, visibility;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
  transition: ease-in-out 250ms;
  

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.81rem;
  }

  h1, p {
    margin: 0;
    padding: 0;
    color: #fff;
  }

  &:hover {
    cursor: pointer;
    transition: ease-in-out 250ms;
    padding-left: 40px;
  }

}

.is-visible {
  opacity: 1;
  display: flex; 
  transform: none;
  visibility: visible;
}
