@import '../../variables';

a {
  text-decoration: none;
}

section {
  opacity: 0;
  margin: 1.5rem;
  display: flex;
  padding: 1rem;
  visibility: hidden;
  align-items:flex-start;
  flex-flow: column wrap;
  justify-content: flex-start;
  transform: translate(0, 50%);
  will-change: opacity, visibility;
  transition: opacity 2s ease-out, transform 2s ease-out;
  

  h1 {
    font-size: 2.3rem;
    color: $secondary-font-color;
  }

  p {
    color: #fff;
    font-size: 0.81rem;
  }

  h1, p {
    margin: 0;
    padding: 2px;
  }

  &:hover {
    cursor: pointer;  
  }

  .github-style {
    color: rgb(48, 103, 253);
    padding-top: 3px;
    padding-bottom: 3px;

    &:hover {
      //animation of a small bounce on hover
      animation: bounce 0.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;

      @keyframes bounce {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-5px);
        }
        100% {
          transform: translateY(0);
        }
      }

    }
  }

}

.is-visible {
  opacity: 1;
  display: flex; 
  transform: none;
  visibility: visible;
}



@media screen and (min-width: 650px) {
  .work-container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    .work-inner-container {
      width: 70%;
      display: flex;
      flex-flow: column nowrap;

      section {
        h1 {
          transition: ease-in-out .2s all;
          &:hover {
            padding-left: 20px;
            transition: ease-in-out .2s all;
          }
        }
      }
      
    }
  }
}

@media screen and (min-width: 1000px) {
  .work-container {
    
    .work-inner-container {
      width: 30%;
      

      section {

        h1 {
          transition: ease-in-out .2s all;

          &:hover {
            padding-left: 20px;
            transition: ease-in-out .2s all;
          }
        }
      }
      
    }
  }
}
